@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: "Geist", sans-serif;
  font-optical-sizing:auto;
  font-weight:<weight>;
  font-style:normal;
}

*{
    color: rgb(0, 119, 255);
}
p{
    background-color: rgb(255, 255, 255);
}
p{
    font-size: 32pt;
}
#name{ 
  font-size: 28pt;
  color: rgb(87, 21, 21);
 padding: 20px 20px 50px 100px;
 margin: 20px 100px 20px 100px;
}
.name{
    font-size: 28;
    color:rgb(255, 0, 0);
}
p.text{
    font-size: 30pt;
    color: aliceblue;
}
.btn{
    background-color: rgb(0, 255, 255);
    color: #000000;
    font-size: 24px;
    padding: 20px 20px 20px 20px ;
    margin: 20px ;
    border:rgb(255, 166, 0) solid 2px ;
}
.btn:hover{
    background-color: rgb(55, 0, 255);
    color: #0d09e4;
    font-size: 24px;
    padding: 20px 20px 20px 20px ;
    margin: 20px ;
    border:rgb(0, 255, 21) solid 2px ;
}
.btn:active{
    background-color: rgb(174, 0, 255);
    color: #0cc0a8;
    font-size: 24px;
    padding: 20px 20px 20px 20px ;
    margin: 20px ;
    border:rgb(255, 5, 122) solid 2px ;
}
.btn:active{
}

.lnline{
    display: inline;
    background-color: #000000;
    padding: 20px;
    margin-right: 5px;
}
.box{
    background-color: #000000;
    padding: 20px;
    margin-right: 5px;
}
.flex-box{
    display: flex;
    justify-content: space-between;
}
.flex-box{

}
.grid-box{
    display: grid;
    grid-template-columns: repeat(3, 500px);
    row-gap: 10px;
}
